/* 
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --outer-space: #374647;
  --cadet-gray: #83A3A8;
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --timberwolf: #DCD9D4;
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --tan: #D5B290;
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --isabelline: #F0EFED;
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
    background-color:#E1D9CC;
    width: 100%;
    height: 100%;
}

iframe{
    height: 100vh;
    background-color: var(--cadet-gray);
}

.dashboard-body{
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  /* color: var(--clr-grey-1); */
  line-height: 1.5;
  font-size: 0.875rem;
  display: flex;
  /* justify-content: space-evenly; */
}
/*image on the side of the login page*/
.side_image{
    width: 600px;
    height: 550px;
}
/*reg form*/
.user_details{
    padding-left: 300px;
    font-size: large;
}
/*input forms*/
.input{
    background-color: transparent;
    border-top: 0in;
    border-left: 0in;
    border-right: 0in;
    border-color: #467A88;
    border-bottom: 10 cm;
    height: 1.0cm;
    width: 10cm;
    /*outline function removes the border that appears 
    around the text area when the use has focus on it*/
    outline: none;
}
.head{
    color: #D1A76B;
    align-self: center;
    margin-left: 50px;    
}
.CREATE{
    position: relative;
    background-color:#467A88;
    border-radius: 0%;
    border: 0%;
    border-color: transparent;
    border-radius: 40px; 
    width: 180px;
    height: 43.01px;  
    align-self: center;  
    text-decoration: solid;
    font-size: 15px;
    font-weight: bold;
    color: #D1A76B;
    margin-left: 15px;

}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}
.frorm_header{
    color:#467A88;
    font-size: 30px;
    padding-left: 120px;
    margin: 1rem 0;
}
.head_inner{
    font-size: 50px;
    color: #D1A76B;
    align-self: center;
    margin-left: 40px;      
}
/*login button*/
.LOGIN_BTN{
    position: relative;
    background-color:#467A88;
    border-radius: 0%;
    border: 0%;
    border-color: transparent;
    border-radius: 40px; 
    width: 180px;
    height: 43.01px;  
    align-self: center;  
    text-decoration: solid;
    font-size: 15px;
    font-weight: bold;
    color: #D1A76B;
    margin-left: 5px;
}
/*text to point to login button to rount to the login form */
.login_statment{
    color:#467A88;
    font-size: 20px;
    padding-left: 30px;
    margin: 1rem 0;
}
/*The last text above the login form ,above the text "TO CHECK-TODO" text="WELCOME BACK "*/
.head_inner_LOGIN{
    font-size: 50px;
    color: #D1A76B;
    align-self: center;
    margin-left: 40px;  
}
/*text above the login form ,above the text "LOGIN"  text = "TO CHECK-TODO"*/
.head_LOGIN{
    color: #D1A76B;
    align-self: center;
    margin-left: 50px; 
}
/*header for the login form the text = LOGIN*/
.frorm_header_LOGIN{
    color:#467A88;
    font-size: 30px;
    padding-left: 120px;
    margin: 1rem 0;
}
/*form for log in */
.user_logins{
    margin-bottom: 280px;
    max-height: 50%;
}
/*button to actually log you into the site */
.LOGIN_BTN_final{
    position: relative;
    background-color:#467A88;
    border-radius: 0%;
    border: 0%;
    border-color: transparent;
    border-radius: 40px; 
    width: 180px;
    height: 43.01px;  
    align-self: center;  
    text-decoration: solid;
    font-size: 15px;
    font-weight: bold;
    color: #D1A76B;
    margin-left: 80px;
}







ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* section{
    margin-left: 30%;
    margin-top: 5%;
} */

.taskInputs{
    display: block;
    margin: 5%;
    height: 2.5rem;
    width: 80%;
}

.createTaskBtn{
    margin: 0 20%;
    height: 2.5rem;
    width: 50%;
}



/* .taskForm{
    margin-left: 100%;
    background-color: rgb(29, 29, 27);
} */

/* label{
    display: block;
} */

/*  global classes */

/* section */
/* .section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
} */

/*
=============== 
Sidebar
===============
*/




.links a {
  display: block;
  font-size: 1.3rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  /* color: var(--clr-grey-5); */
  color: var(--clr-black);
  transition: var(--transition);
}
.links a:hover {
  background: var(--isabelline);
  color: var(--cadet-gray);
  padding-left: 1.75rem;
 } 

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--cadet-gray);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  /* transition: var(--transition); */
  /* transform: translate(-100%); */
}  

@media screen and (min-width: 676px) {
  .sidebar {
    width: 15%;
  }
}



.create-task-body{
    display: flex;
    /* margin: auto; */
}

.create-task-section{
    margin: 5rem 0;
    background-color: var(--isabelline);
    padding-right: 8rem;
    padding-left: 5rem;
    padding-top: 2rem;
    height: 100%;
    border-radius: 10%;
    padding: 2rem 8rem 2rem 5rem;
}


.formInputs{
    display: block;
    height: 2rem;
    width: 150%;
    margin: 1rem 0;
    /* border: none; */
    background-color: transparent;
    border-top: 0in;
    border-left: 0in;
    border-right: 0in;
    border-color: var(--outer-space);
    border-bottom: 10 cm;
}

.create-task-button{
    height: 2rem;
    width: 100%;
    margin: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: var(--tan);
    color: var(--outer-space);
}

.input-labels{
    color: var(--outer-space);
}





